.animations--in {
  height: 100vh;
  width: 100%;
  position: fixed;
  pointer-events: none;
  z-index: 10;
}

.animations--in .anim--blue {
  width: 100%;
  height: 100%;
  background-color: #7879f1;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-animation-name: pagein-blue;
          animation-name: pagein-blue;
  -webkit-animation-duration: 600ms;
          animation-duration: 600ms;
  -webkit-animation-delay: 1.7s;
          animation-delay: 1.7s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  position: absolute;
  -webkit-transform: scaleX(0) translateX(100%);
          transform: scaleX(0) translateX(100%);
  z-index: 10;
}

.animations--in .anim--purple {
  width: 100%;
  height: 100%;
  background-color: #a5a6f6;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-animation-name: pagein-purple;
          animation-name: pagein-purple;
  -webkit-animation-duration: 800ms;
          animation-duration: 800ms;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-transform: scaleX(0) translateX(100%);
          transform: scaleX(0) translateX(100%);
  position: absolute;
  z-index: 10;
}

.animations--in .loading {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #5d5fef;
  -webkit-animation: loading 1.8s;
          animation: loading 1.8s;
  -webkit-transform: scale(0);
          transform: scale(0);
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.animations--in .loading P {
  text-align: center;
  font-size: 4em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-inline: auto;
  color: white;
  position: relative;
}

.animations--in .loading P::after {
  content: "";
  position: absolute;
  display: block;
  height: 3px;
  width: 100%;
  border-radius: 2em;
  background-color: white;
  bottom: -20px;
  left: 0;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-animation: loading-bar 1s ease-out;
          animation: loading-bar 1s ease-out;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  99% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  99% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes loading-bar {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  30% {
    -webkit-transform: scaleX(0.7);
            transform: scaleX(0.7);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes loading-bar {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  30% {
    -webkit-transform: scaleX(0.7);
            transform: scaleX(0.7);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes pagein-blue {
  0% {
    -webkit-transform: scaleX(1) translateX(100%);
            transform: scaleX(1) translateX(100%);
  }
  25% {
    -webkit-transform: scaleX(1) translateX(0);
            transform: scaleX(1) translateX(0);
  }
  100% {
    -webkit-transform: scaleX(0) translateX(-100%);
            transform: scaleX(0) translateX(-100%);
  }
}

@keyframes pagein-blue {
  0% {
    -webkit-transform: scaleX(1) translateX(100%);
            transform: scaleX(1) translateX(100%);
  }
  25% {
    -webkit-transform: scaleX(1) translateX(0);
            transform: scaleX(1) translateX(0);
  }
  100% {
    -webkit-transform: scaleX(0) translateX(-100%);
            transform: scaleX(0) translateX(-100%);
  }
}

@-webkit-keyframes pagein-purple {
  0% {
    -webkit-transform: scaleX(1) translateX(100%);
            transform: scaleX(1) translateX(100%);
  }
  50% {
    -webkit-transform: scaleX(0) translateX(-100%);
            transform: scaleX(0) translateX(-100%);
  }
}

@keyframes pagein-purple {
  0% {
    -webkit-transform: scaleX(1) translateX(100%);
            transform: scaleX(1) translateX(100%);
  }
  50% {
    -webkit-transform: scaleX(0) translateX(-100%);
            transform: scaleX(0) translateX(-100%);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  width: 100%;
  height: 100%;
  background: #f8f8fe;
}

main {
  padding-inline: 0.5em;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.hero {
  background: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  height: 15.875em;
  width: 100%;
  display: block;
  overflow: hidden;
}

.hero .hero-text {
  position: absolute;
  font-size: 9em;
  font-weight: 800;
  color: #96969610;
  top: 7rem;
  left: 0rem;
  z-index: -9;
}

nav {
  height: 3rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

nav .nav li {
  color: #7879f1;
  cursor: pointer;
}

header {
  position: relative;
  padding: 0.5rem;
}

header h1 {
  margin-top: 1rem;
  color: #5d5fef;
  font-size: 3rem;
  line-height: 5rem;
}

header img,
.color-hero {
  position: absolute;
  width: 11.25rem;
  height: 17.875rem;
  right: 0rem;
  top: 4rem;
  opacity: 45%;
  z-index: -9;
}

.color-hero {
  mix-blend-mode: lighten;
  background: #5d5fef;
  opacity: 100%;
}

.hero-text {
  color: #7879f1;
  font-size: 0.8rem;
  width: 15rem;
}

.line--header {
  position: absolute;
  bottom: -3rem;
  left: 0;
  width: 30%;
  height: 7px;
  background: #5d5fef;
}

.line--header::after, .line--header::before {
  content: "";
  position: absolute;
  height: 7px;
  background: #5d5fef;
}

.line--header::after {
  width: 25%;
  bottom: -1rem;
}

.line--header::before {
  width: 175%;
  bottom: 1rem;
}

.recent-work {
  margin-top: 9rem;
  background: white;
  padding-block: 2rem;
  margin-inline: 1rem;
  border-radius: 0.5rem;
  height: 26.5rem;
}

.recent-work h2 {
  text-align: center;
  color: #7879f1;
  font-weight: 500;
}

.recent-work ul {
  list-style: none;
}

@media (min-width: 720px) {
  .recent-work {
    width: 70%;
    height: 40rem;
    margin-inline: auto;
  }
  .recent-work .carousel {
    height: 35rem;
  }
}

.carousel {
  width: 100%;
  height: 20rem;
  position: relative;
}

.carousel__button {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) scale(1);
          transform: translateY(-50%) scale(1);
  border: none;
  z-index: 1;
  border-radius: 0.3rem;
  background: #a5a6f6;
  color: white;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.carousel__button:hover {
  background: #7879f1;
}

.btn-hidden {
  -webkit-transform: translateY(-50%) scaleY(0);
          transform: translateY(-50%) scaleY(0);
}

.carousel__button--left {
  left: 13px;
}

.carousel__button--right {
  right: 13px;
}

.carousel__track-container {
  height: 90%;
  width: 80%;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
}

.carousel__track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 0.2rem;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.carousel__track a {
  text-decoration: none;
}

.carousel__track .carousel__slide {
  position: absolute;
  width: 100%;
  height: 80%;
  left: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 2rem;
  margin-right: 2rem;
  padding-inline: 2rem;
}

@media (min-width: 361px) {
  .carousel__track .carousel__slide {
    padding-inline: 3rem;
  }
}

@media (min-width: 381px) {
  .carousel__track .carousel__slide {
    padding-inline: 4rem;
  }
}

@media (min-width: 366px) {
  .carousel__track .carousel__slide {
    padding-inline: 5rem;
  }
}

@media (min-width: 534px) {
  .carousel__track .carousel__slide {
    padding-inline: 6rem;
  }
}

@media (min-width: 625px) {
  .carousel__track .carousel__slide {
    padding-inline: 6rem;
  }
}

@media (min-width: 978px) {
  .carousel__track .carousel__slide {
    padding-inline: 7rem;
  }
}

@media (min-width: 1080px) {
  .carousel__track .carousel__slide {
    padding-inline: 7.5rem;
  }
}

@media (min-width: 1166px) {
  .carousel__track .carousel__slide {
    padding-inline: 8rem;
  }
}

.current--slide:hover,
.current--slide .a:focus-visible {
  height: 100%;
  margin: 0;
  padding: 0;
}

.current--slide:hover .slide-info-list {
  position: relative;
  -webkit-transform: translateY(-5rem);
          transform: translateY(-5rem);
  width: 100%;
  margin: 0;
}

.current--slide:hover .slide-info-list .slide__information {
  background: #000000e1;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1.6em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.current--slide:hover .slide-info-list .slide__description {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.current--slide:hover .slide-info-list .slide__title::after,
.current--slide:hover .slide-info-list .slide__title::before {
  width: 30%;
  -webkit-transform: scaleX(0.4);
          transform: scaleX(0.4);
}

.current--slide:hover .slide-info-list .slide__title::after {
  -webkit-transform-origin: right;
          transform-origin: right;
  right: 85%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: -0.5rem;
  width: 15%;
}

.current--slide:hover .slide-info-list .slide__title::before {
  -webkit-transform-origin: left;
          transform-origin: left;
  left: 85%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -0.5rem;
  width: 15%;
}

.slide__container {
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-rows: 90% 10%;
      grid-template-rows: 90% 10%;
  width: 100%;
  height: 100%;
}

.slide__img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slide-info-list {
  position: relative;
  height: 80%;
  width: 80%;
  margin-top: 1rem;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 5rem;
      grid-template-rows: 5rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

.slide__title {
  text-align: center;
  position: relative;
  font-size: 1.2rem;
  width: 100%;
}

.slide__title::after, .slide__title::before {
  content: "";
  position: absolute;
  width: 25%;
  height: 3px;
  background: #5d5fef;
  bottom: 45%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slide__title::after {
  right: -3rem;
}

.slide__title::before {
  left: -3rem;
}

.slide__description {
  padding-top: 0.5rem;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 0.8rem;
  color: #f8f8fe;
  text-align: center;
}

.see--more {
  position: absolute;
  top: 95%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(100%) scaleY(0);
          transform: translateX(-50%) translateY(100%) scaleY(0);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: #f8f8fe;
  border: none;
  border-radius: 5rem;
  padding: 0.5em 1em;
  color: #7879f1;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.see--more:hover {
  background: #7879f1;
  color: #f8f8fe;
}

@media (min-width: 720px) {
  .see--more {
    top: 90%;
  }
}

.btn-see {
  -webkit-transform: translateX(-50%) translateY(0) scaleY(1);
          transform: translateX(-50%) translateY(0) scaleY(1);
}

.what-i-know {
  background: white;
  position: relative;
  text-align: center;
  margin-top: 5rem;
  padding-top: 2rem;
  margin-inline: 1rem;
  border-radius: 0.5rem;
}

.what-i-know h3 {
  font-size: 1.2rem;
  color: #7879f1;
  font-weight: 500;
}

.what-i-know img {
  width: 100%;
}

.prog__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-block: 2rem;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.prog__lang img {
  height: 50px;
  width: 50px;
}

.what-i-know__left {
  position: absolute;
  width: 5rem;
  height: 2.5px;
  background: #a5a6f6;
  top: -20px;
  left: -1rem;
}

.what-i-know__left::before, .what-i-know__left::after {
  content: " ";
  position: absolute;
  width: 5rem;
  height: 2.5px;
  background: #a5a6f6;
  top: 0;
  left: 0;
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
}

.what-i-know__left::before {
  left: -15px;
}

.what-i-know__left::after {
  left: 10px;
}

.what-i-know__right {
  position: absolute;
  width: 5rem;
  height: 2.5px;
  background: #a5a6f6;
  bottom: -20px;
  right: -1rem;
}

.what-i-know__right::before, .what-i-know__right::after {
  content: " ";
  position: absolute;
  width: 5rem;
  height: 2.5px;
  background: #a5a6f6;
  bottom: 0;
  right: 0;
  -webkit-transform: rotate(65deg);
          transform: rotate(65deg);
}

.what-i-know__right::before {
  right: -15px;
}

.what-i-know__right::after {
  right: 10px;
}

.future-card {
  background: white;
  position: relative;
  text-align: center;
  margin-top: 5rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
  margin-inline: 1rem;
  border-radius: 0.5rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.future__container {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  padding-inline: 1.4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-rows: 15% 50% 35%;
      grid-template-rows: 15% 50% 35%;
      grid-template-areas: "title" "text" "img";
}

.future__container .future__title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  color: #5d5fef;
  font-weight: 500;
}

.future__container .future__text {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: text;
  color: #7879f1;
  line-height: 1.6rem;
}

.future__container .future__photos {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: img;
  position: relative;
  height: 10rem;
  width: 100%;
}

.future__container .future__photos img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 5px 5px 10px #1b1b41;
          box-shadow: 5px 5px 10px #1b1b41;
}

.future__container .future__photos .future__img1 {
  left: 0rem;
  bottom: 0;
  height: 10rem;
  width: 6rem;
  z-index: 2;
}

.future__container .future__photos .future__img3 {
  left: 2rem;
  bottom: 7rem;
  height: 4rem;
  width: 15rem;
  z-index: 1;
}

.future__container .future__photos .future__img2 {
  right: 0.5rem;
  bottom: -1rem;
  height: 8rem;
  width: 10rem;
  z-index: 0;
}

.rm-hidden {
  display: none;
}

.dots {
  color: #5d5fef;
  font-weight: bold;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */