:root{
    --white: hsl(0, 0%, 100%);
    --lightGray: hsl(212, 45%, 89%);
    --graish: hsl(220, 15%, 55%);
    --blue: hsl(218, 44%, 22%);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Outfit';
    text-align: center;

}
body{
    background: var(--lightGray);
    display: flex;
    justify-content: center;
    align-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 15em;
    height: 26em;
    margin-top: 7rem;
    background: white;
    border-radius: 1em;
    padding: .8em;
    transform: scale(1);
    @media (min-width: 375px){
        margin-top: 7rem;
        margin-bottom: 10rem;
    }
    @media (min-width: 1400px){
        margin-top: 13rem;
        margin-bottom: 15rem;
    }

}
h1{
    font-weight: 700;
    color: var(--blue);
    margin: 1em auto;
    font-size: 1.3em;

}
p{
    font-weight: 400;
    color: var(--graish);
    font-size: .9375rem;
}
ul{
    list-style: none;
    img{
        width: 100%;
        border-radius: .5em;
    }

}
.attribution{
    background: white;
    border: 1px solid var(--graish);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    white-space: nowrap;
    color: var(--graish);
    font-size: .8em;
    a{
        color:var(--blue);
        text-decoration: none;
    }
}
a:focus-visible{
    outline: 1px solid var(--blue);
    background: var(--lightGray);
}