* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Barlow Semi Condensed";
}

ul {
  list-style: none;
}

main {
  background-color: #ecf2f8;
  display: -ms-grid;
  display: grid;
  padding-block: 5rem;
}

h3,
h5,
p {
  color: white;
}

p {
  opacity: 50%;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.t__container {
  width: 90%;
  height: 100%;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.testimonials {
      grid-template-areas: "daniel"
 "jona"
 "jane"
 "patrick"
 "kira";
  gap: 2rem;
}

.card {
  padding: 1.8rem;
}

.card li:not(:last-child) {
  margin-bottom: 1rem;
}

.card--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 1rem;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.card--top h5 {
  font-weight: 500;
  font-size: 0.9rem;
}

.card--top p {
  font-size: 0.8rem;
  font-weight: 500;
}

.card--top img {
  width: 35px;
  height: 35px;
  border-radius: 100%;
}

.title {
  font-size: 2.15ch;
}

.quote--p {
  opacity: 70%;
  line-height: 1.3rem;
  font-size: 13px;
  letter-spacing: 0.025rem;
}

.daniel {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: daniel;
  background-color: #7541c8;
  border-radius: 0.5rem;
  overflow: hidden;
  background-image: url(../images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 90% 0;
  background-size: 105px 110px;
}

.daniel img {
  outline: 2px solid rgba(255, 255, 255, 0.356);
}

.daniel .card--top h5 {
  opacity: 80%;
}

.jona {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: jona;
  background: #48556a;
  border-radius: 0.5rem;
}

.jean {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: jane;
  border-radius: 0.5rem;
  background: white;
}

.jean h3,
.jean h5,
.jean p {
  color: #48556a;
}

.patrick {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: patrick;
  border-radius: 0.5rem;
  background: #19212e;
}

.patrick img {
  outline: 1px solid #7541c8;
}

.kira {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: kira;
  border-radius: 0.5rem;
  background: white;
}

.kira h3,
.kira h5,
.kira p {
  color: #48556a;
}

.attribution {
  position:absolute;
  background-color: #19212e;
  height: 5rem;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.attribution .links {
  list-style: none;
  color: white;
}

.attribution .links li {
  margin: 0.5rem auto;
}

.attribution .links a {
  text-decoration: none;
  color: #7541c8;
}

.attribution .links a:hover, .attribution .links a:focus-visible {
  background: white;
  outline: 1px solid #7541c8;
}

@media (min-width: 520px) {
  .t__container {
    max-width: 1300px;
    max-height: 650px;
  }
  .card {
    width: 100%;
    height: 100%;
    padding: 2rem;
  }
  .card .title {
    font-size: 1.25rem;
  }
  .testimonials {
        grid-template-areas: "daniel daniel jona kira"
 "jane patrick patrick kira";
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .daniel {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: daniel;
    background-position: 80% 0;
    background-size: 120px 120px;
  }
  .jean {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: jane;
  }
  .jean .title {
    font-size: 1.4rem;
  }
  .kira {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 4;
    grid-area: kira;
  }
  .patrick {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: patrick;
  }
  .jona {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: jona;
  }
  .quote--p {
    line-height: 1.7;
    font-size: 0.8rem;
    letter-spacing: 0.02rem;
  }
}
/*# sourceMappingURL=main.css.map */
