:root {
  --cyan: hsl(178, 100%, 50%);
  --s-blue: hsl(215, 51%, 70%);
  --bg-color: hsl(217, 54%, 11%);
  --bg-card: hsl(216, 50%, 16%);
  --line-color: hsl(215, 32%, 27%);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Outfit';
}

body {
  background: var(--bg-color);
}

.attribution {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: .5rem;
  padding: .5rem;
  border-radius: 5em;
  color: var(--s-blue);
  background-color: rgba(0, 0, 0, 0.3);
  font-size: .8rem;
}

.attribution p {
  background-color: transparent;
}

.attribution a {
  text-decoration: none;
  color: var(--cyan);
  background-color: transparent;
}

.attribution a:hover {
  color: var(--line-color);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: var(--bg-card);
  padding: 1.5rem;
  width: 80%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: .7rem;
  max-width: 300px;
  max-height: 530px;
  -webkit-filter: drop-shadow(1px 1px 20px rgba(0, 0, 0, 0.486));
          filter: drop-shadow(1px 1px 20px rgba(0, 0, 0, 0.486));
}

@media only screen and (min-width: 1440px) {
  .card-container {
    max-width: 320px;
    max-height: 550px;
  }
}

.color-img {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: .6em;
  background-color: var(--cyan);
  z-index: -1;
}

.nft-img {
  width: 100%;
  height: 100%;
  border-radius: .5em;
  -webkit-transition: .2s;
  transition: .2s;
}

.nft-img:hover {
  -webkit-filter: opacity(50%);
          filter: opacity(50%);
}

.afterimg {
  width: 19rem;
  height: 19rem;
  cursor: pointer;
  position: relative;
}

.afterimg:hover::after {
  -webkit-filter: opacity(100%);
          filter: opacity(100%);
}

@media only screen and (min-width: 1440px) {
  .afterimg {
    width: 20rem;
    height: 20rem;
  }
}

.afterimg::after {
  content: url(../images/icon-view.svg);
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-filter: opacity(0);
          filter: opacity(0);
  -webkit-transition: .2s;
  transition: .2s;
}

.details {
  margin: 1.5rem auto;
  position: relative;
}

.details::after {
  content: ' ';
  width: 100%;
  height: 1px;
  position: absolute;
  background: var(--line-color);
  bottom: -20px;
}

.title-desc h1 {
  font-size: 1.4rem;
  font-weight: 800;
  color: white;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.title-desc h1:hover {
  color: var(--cyan);
}

.title-desc p {
  color: var(--s-blue);
  margin: 1rem auto;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.8rem;
}

.about-nft {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-nft .eth-price {
  color: var(--cyan);
  font-weight: 800;
  position: relative;
  margin-left: 1.1rem;
}

.about-nft .eth-price::before {
  content: url(../images/icon-ethereum.svg);
  position: absolute;
  left: -17px;
  bottom: -3px;
}

.about-nft .days-left {
  color: var(--s-blue);
  position: relative;
}

.about-nft .days-left::before {
  content: url(../images/icon-clock.svg);
  position: absolute;
  left: -25px;
  bottom: -3px;
}

.creator {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
}

.creator img {
  width: 35px;
  height: 35px;
  border: 1px solid white;
  border-radius: 100%;
}

.creator p {
  margin-left: 1rem;
  color: var(--s-blue);
  font-weight: 300;
}

.creator p span {
  color: white;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.creator p span:hover {
  color: var(--cyan);
}
/*# sourceMappingURL=main.css.map */